<!doctype HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HTTP/1.1 vs HTTP/2</title>

    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
        }

        img {
            display: inline-block;
            float: left;
            height: 36px;
            width: 54px;
        }

        img:first-child {
            clear: both;
        }
    </style>
</head>
<body>
    <th:block th:each="i: ${#numbers.sequence(0, 9)}">
    <div>
        <th:block th:each="j: ${#numbers.sequence(0, 9)}">
            <img th:src="'/img/pic-item-' + ${i * 10 + j} + '.jpg?ts'+${#dates.createNow().getTime()}">
        </th:block>
    </div>
    </th:block>
</body>
</html>